@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    color: #9d69a1;
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: #FFF5F8;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color: #D46A6A;
    transition: 0.3s;
}
header{
    /* position: sticky; */
    position: fixed;
    width: 100%;

    top: 0;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 20px 20px 40px;
    text-align: center;
    font-family: 'Lobster', cursive;
    z-index: 102;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.busqueda{
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonBusqueda{
    position: fixed;
    top: 30px;
    left: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
    z-index: 105;
}
#botonBusqueda:active{
    background-color: #9d69a1;
    color: white;
}
#botonBusqueda i{
    color: #9d69a1;
    transition: color 0.3s;
}
#botonBusqueda:hover i{
    color: white;
}
#barraBusqueda{
    display: none;
}
#barraBusqueda-desplegable{
    position: fixed;
    width: 100%;
    left: 0;
    transform: translateY(-100%);
    /* top: -100%; */
    top: 0;
    padding: 135px 25px 25px 25px;
    border: none;
    background-color: #FFF5F8;
    border-bottom: #9d69a1 2px solid;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}
#barraBusqueda-desplegable:focus{
    outline: none;
    border-color: #e7cde5;
    transition: border-color 0.2s;
}
#barraBusqueda-desplegable.activo{
    transform: translateY(0);
}

.logo{
    height: 50px;
    width: auto;
}
#logo2{
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    font-size: larger;
    top: 0;
    right: -100%;
    width: 300px;
    height: 90vh;
    margin: 5vh 0;
    background-color: white;
    border-radius: 20px 0 0 20px;
    transition: right 0.3s ease-in-out;
    z-index: 150;
}
#menu.activo{
    right: 0;
    /* box-shadow: 5px 5px black; */
}
.opcion{
    background-color: #F7C5CC;
    border: 2px solid #9d69a1;
    color: #9d69a1;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 20px;
}
.opcion a{
    color: #9d69a1;
    padding: 10px 40px;
}
.opcion:hover{
    transform: scale(0.98);
    background-color: #9d69a1;
}
.opcion:hover a{
    color: white;
}
#hamburger-btn{
    position: fixed;
    top: 35px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
    z-index: 100;
    background-color: transparent;
    border-color: transparent;
    z-index: 105;
}
#hamburger-btn span{
    width: 30px;
    height: 2px;
    background-color: #9d69a1;
    margin: 2px 0;
}

.menu-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 99;
}
.menu-overlay.activo{
    display: block;
}

main{
    padding-top: 110px;
    width: 80%;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 20px;
}
main h2{
    font-family: 'Lobster', cursive;
    font-size: 32px;
    text-align: center;
    margin: 20px 0;
}
.lista-producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.producto-box{
    width: 200px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.producto{
    height:100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

#verProducto-boton{
    background-color: #F7C5CC;
    border: 2px solid #9d69a1;
    color: #9d69a1;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px;
}
#verProducto-boton:active{
    background-color: #9d69a1;
    transform: scale(0.98);
    color: white;
}

footer{
    display: grid;
    justify-content: center;
    background-color: #F7C5CC;
    min-height: 300px;
}
footer h3{
    font-family: 'Lobster', cursive;
    font-size: 24px;
    margin: auto;
    padding: 20px;
}
.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.redes-sociales a{
    text-decoration: none;
    color: #9d69a1;
    font-size: 18px;
    padding: 20px;
}

@media screen and (min-width: 900px) {
    #menu{
        display: flex;
        padding: 5px;
    }
    #barraBusqueda-desplegable{
        display: none;
    }
    #barraBusqueda{
        display: block;
        padding: 5px;
        border: 2px solid #9d69a1;
        background-color: #FFF5F8;
        border-radius: 55px;
        font-size: 16px;
    }
    #barraBusqueda:focus{
        outline: none;
        border-color: #e7cde5;
        transition: border-color 0.2s;
    }
}